body{
  background: #EEF1EF;
  color: #51513D;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
h1{
  font-family: 'Roboto Slab', serif;
  color: #51513D;
  font-weight: lighter;
}
h2 {
  font-family: Courier;
  color: #51513D;
  font-weight: lighter;
}
a {
  color: #75B9BE;
}
a:hover {
  text-decoration: none;
  color: #A8CCC9;
}
#button {
  padding: 10px;
}

#banner{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1514589553259-ed2658dad420?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=322d1b99945f13aec55cd52936af99c3&auto=format&fit=crop&w=1607&q=80");
  background-size: cover;
  padding: 100px;
  color: white;
  text-shadow: 1px 1px 5px black;
  display: block;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: #A8CCC9;
  color: #51513D;
}
.card{
  padding: 50px;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#footer a {
  color: #51513D;
  font-size: 30px;
}
#footer a:hover {
  color: #EEF1EF;
}
.btn{
  font-size: 25px;
  }

#nav-bar{
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #A8CCC9;
}

.nav-bar-links a {
  font-size: 20px;
  text-decoration: none;
  color: #51513D;
  padding: 10px;
 }

.nav-bar-links a:hover {
  color: #EEF1EF;
}

.logo i {
  font-size: 50px;
  color: #51513D;
}

.logo a:hover {
  color: #EEF1EF;
}

